:root {
  --charcoal5:rgba(234, 241, 245, 1);
  --charcoal4: rgba(195, 206, 214, 1);
  --charcoal3: #718C9E;
  --charcoal2: #495D6A;
  --charcoal1: #36454F;
  --charcoal0: rgba(36, 46, 53, 1);
  --black: #13191D;
  --gray: rgba(73, 93, 106, 1);
  --green: rgba(40, 208, 141, 1);
}

html {
    scroll-behavior: smooth;
    background-color: var(--black);
}

body {
    font-family: 'Work Sans';
    color: black;
}

main {
    min-height: 90vh;
}

.screen-height {
  height: calc(100vh - 100px);
}

.bg-primary {
    background-color: #227cdd;
}

.bg-gray {
    background-color: var(--gray);
}

.font-primary {
    color: #227cdd;
}

.charcoal4 {
  color: var(--charcoal4);
}

.animate-all {
  transition: all 0.5s ease-in-out;
}

.text-primary {
    color: #227cdd;
}

.text-70 {
  font-size: 70px;
}

.mw-3 {
    max-width: 10rem;
    word-wrap: break-word;
}

.max-w-screen-4xl {
    max-width: 120rem;
    word-wrap: break-word;
}

a:hover {
    text-decoration: none;
}

.btn-green-round {
  background-color: var(--green);
  padding: 0 20px;
  border-radius: 100px;
  font-size: 18px;
  height: 48px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
  transition: all 0.5ms ease-in-out;
}

.btn-green-round:hover {
  transform: scale(1.1);
}

.btn-green-outline {
  padding: 0 20px;
  border-radius: 100px;
  font-size: 18px;
  height: 48px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--green);
  border: 1px solid var(--green);
  transition: all 0.3s ease-in-out;
}

.btn-green-outline:hover {
  background-color: var(--green);
  color: var(--black);
}

.btn-disabled {
  background-color: rgba(36, 46, 53, 0.3);
  color: var(--charcoal1);
  padding: 0 20px;
  border-radius: 100px;
  font-size: 18px;
  height: 48px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.btn-disabled:hover {
  cursor: default !important;
}

.input {
  border: 1px solid var(--gray);
  border-radius: 10px;
  padding: 8px 13px;
  background-color: transparent;
  color: var(--charcoal5);
  width: 100%;
}

.input:active {
  border: 1px solid #2F80ED;
}

.input-disabled {
  border: 1px solid var(--gray);
  border-radius: 10px;
  padding: 8px 13px;
  background-color: rgba(36, 46, 53, 0.3);
  color: var(--charcoal1);
  width: 100%;
}

.input-dashed {
  border: 1px dashed var(--gray);
  border-radius: 10px;
  background-color: transparent;
  color: var(--charcoal5);
  width: 100%;
}

.hamburger-nav {
    visibility: hidden;
    z-index: 99;
    top: 70px;
    right: 20px;
    opacity: 0;
    transition: 300ms ease-in-out;
}

.show {
    visibility: visible !important;
    opacity: 1 !important;
    transition: 300ms ease-in-out !important;
    display: block !important;
}

#hamburger-nav-content-signedout {
    visibility: hidden;
    z-index: 99;
    top: 70px;
    right: 20px;
    opacity: 0;
    transition: 300ms ease-in-out;
}

.signup-btn {
    border-radius: 100px;
    padding: 12px 20px;
}

#nprogress .bar {
    height: 5px;
    background: #227cdd;
}

#nprogress .spinner-icon {
    border-top-color: #227cdd;
    border-left-color: #227cdd;
}

.react-calendar {
  background: black;
  border: 1px solid var(--gray);
  padding: 5px;
  border-radius: 10px;
  margin-top: 10px;
}

.react-calendar__month-view__days__day--weekend {
  color: #227cdd;
}

.react-date-picker__calendar-button__icon.react-date-picker__button__icon,
.react-daterange-picker__calendar-button__icon.react-daterange-picker__button__icon,
.react-date-picker__clear-button__icon.react-date-picker__button__icon,
.react-daterange-picker__clear-button__icon.react-daterange-picker__button__icon {
  stroke: white;
}

.react-date-picker, .react-daterange-picker {
  width:100%;
}

.react-daterange-picker__inputGroup {
  flex-grow: 0;
}

.react-daterange-picker__range-divider ~ .react-daterange-picker__inputGroup {
  flex-grow: 1;
}

.react-date-picker__wrapper, .react-daterange-picker__wrapper {
    font-size: 1.25rem;
    border: 1px solid var(--charcoal2);
    line-height: 1.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: transparent;
    border-radius: 10px;
    width: 100%;
    margin-top: 0.5rem;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

.ReactModal__Body--open,
.ReactModal__Html--open {
  overflow: hidden;
}

.carousel-root {
  height: 100%;
}

.carousel.carousel-slider {
  height: 70%;
}

/* .carousel .slider-wrapper {
  height: 100%;
}

.carousel .slider-wrapper.axis-horizontal .slider {
  height: 100%;
}

.carousel .slide {
  height: 100%;
} */


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,300&family=Open+Sans:wght@400;600;800&display=swap');
